@model List<Rentaly.EntityLayer.Entities.Car>
<section id="section-cars" class="no-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 text-center">
				<h2>Araç Filomuz</h2>
				<p>Unutulmaz yolculuklar için birbirinden farklı ve seçkin araçlardan oluşan filomuzla hayallerinizi gerçeğe dönüştürüyoruz.</p>
				<div class="spacer-20"></div>
			</div>

			<div class="col-lg-12">
				<div id="items-carousel" class="owl-carousel owl-theme wow fadeIn">
					@foreach (var item in Model)
					{
						<div class="item">
							<div class="de-item">
								<div class="d-img">
									<img src="@item.ImageUrl" class="img-fluid" alt="@item.Branch.BranchName" style="height: 250px; width: 100%; object-fit: cover;">
								</div>
								<div class="d-info">
									<div class="d-text">
										<div class="card-header-row">
											<h4>@item.Brand.BrandName</h4>
											<div class="d-item_like">
												<i class="fa fa-heart"></i> <span>74</span>
											</div>
										</div>
										
										<div class="d-atr-group">
											<span class="d-atr"><img src="/RentalyHTML/images/icons/1-green.svg">@item.SeatCount</span>
											<span class="d-atr"><img src="/RentalyHTML/images/icons/2-green.svg">@item.LuggageCount</span>
											<span class="d-atr"><img src="/RentalyHTML/images/icons/oil.svg" />@item.FuelType</span>
											<span class="d-atr"><img src="/RentalyHTML/images/icons/4-green.svg">@item.CarModel.ModelName</span>
										</div>

										<div class="d-price">
											<div class="price-text">
												Günlük Fiyat<span>@item.DailyPrice</span>
											</div>
											<a class="btn-main" href="#">Hemen Kirala</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</section>